.navbar {
  display: flex;
  justify-content: space-around;

  align-items: center;
  background-color: #2b293d;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo > img {
  width: 60px;
}

.navbar-logo > h1 {
  font-family: "Lalezar";
  font-weight: normal;
  font-size: 36px;
  color: #ffe047;
}

.navbar-menu {
  display: flex;
  align-items: center;
  color: white;
  gap: 20px;
  font-family: "Montserrat";
  font-weight: 600;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.menu > hr {
  width: 75%;
  border: none;
  height: 2px;
  background-color: #ffe047;
  display: none;
}

.navbar-login-event-login-sign {
  display: flex;
  align-items: center;
  gap: 40px;
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
}

.navbar-login-sign {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-sign > p {
  padding: 10px 20px;
  background-color: #ffe047;
  border-radius: 6px;
  color: #2b293d;
}

.nav-toggle {
  display: none;
}

.profile-mobile {
  display: none;
}

.nosy-menu {
  display: none;
}

@media (max-width: 863px) {
  .navbar-logo > img {
    display: none;
  }
  .profile-mobile {
    display: block;
  }
  .navbar-login-event-login-sign {
    display: none;
  }
}

@media (max-width: 769px) {
  .navbar-menu {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 24px;
    color: #2b293d;
    background: white;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.45s;
  }

  .navbar > a::before {
    background: transparent;
  }

  .navbar-menu.open {
    transform: translateX(0);
  }

  .nosy-menu {
    display: block;
  }

  .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .nav-toggle > .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background: #ffe047;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before,
  .nav-toggle > .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #ffe047;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }
  .nav-toggle > .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }

  .nav-toggle > .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open > .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open > .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }

  .nav-toggle.open > .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }
}
