.events-display h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.events-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}

.event-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.btn {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  color: #2b293d;

  border-radius: 8px;
  border: 2px solid #2b293d;

  background: transparent;
  padding: 12px 150px;
}
