.login {
  background-color: #2b293d;
  height: 100vh;
  display: flex;
}

.escrita {
  flex: 1;
  margin-top: 40px;
}

.escrita > h3 {
  font-family: "Lalezar";
  font-weight: normal;
  font-size: 35px;
  color: #ffe047;
  margin-left: 70px;
}

.escrita > p {
  font-family: "Montserrat";
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-top: 75px;
}

.login-filho {
  flex: 1;
  background-color: #fff;
  height: 100vh;
  border-radius: 55px 0 0 50px;
}

.login-container {
  width: 70%;
  margin: auto;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 75px;
}

.login-style > h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 35px;
}

.login-logado {
  display: flex;
  justify-content: space-between;
}

.rede-social {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.rede-social:hover {
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.rede-social > img {
  width: 25px;
}

.rede-social > span {
  font-family: "Open Sans";
  font-weight: normal;
}

.login-container-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 5px;
}

.login-email {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Open Sans";
  color: #636363;
  font-size: 14px;
}

.login-email > input {
  padding: 16px 10px;
  border-radius: 5px;
  border: 1px solid #828282;
  outline: none;
}

.login-email > input[type="text"] {
  font-size: 15px;
}

.login-senha {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-family: "Open Sans";
  color: #636363;
  font-size: 14px;
}

.login-senha > input {
  padding: 16px 10px;
  border-radius: 5px;
  border: 1px solid #828282;
  outline: none;
}

.login-senha > input[type="text"] {
  font-size: 15px;
}

.login-button {
  padding: 16px 10px;
  margin-top: 15px;
  background-color: #2b293d;
  color: #fff;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.criar-conta {
  display: flex;
  gap: 5px;
  font-family: "Open Sans";
  color: #636363;
  font-size: 14px;
  margin-top: -40px;
}

.criar-conta > button {
  background-color: transparent;
  border: none;
  font-family: "Open Sans";
  cursor: pointer;
}
